@import '../../node_modules/normalize.css/normalize.css';
@import url('https://fonts.googleapis.com/css?family=Muli:400,700');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif;
}

ul, li {
   margin:0;
   padding: 0;
   text-indent: 0;
   list-style-type: 0;
}