.container {
  display: grid;
  grid-template-columns: 2fr 8fr;
  grid-template-rows: 1fr 1fr;
  width: 100vw;
  height: 100vh;
}

.sidebar {
  background-color: #333;
  grid-row: span 2;
}

.top {
  grid-column: 2;
  overflow: hidden;
}

.bottom {
  grid-column: 2; 
  overflow: hidden;
}
